* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
}

body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: white;
  color: #333;
}
header {
  background-color: #FFB823;
  padding: 23px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 1.3em;
  font-weight: bold;
  gap: 8px; 
  color: black;
}

.logo img {
  height: 40px;
  width: 40px;
}


.bold {
  color: #d62828;
}

nav a {
  margin-left: 20px;
  text-decoration: none;
  color: black;
  font-weight: thin;
  padding: 5px;
}
.cart{
  font-weight: bold;
}
nav a.active, nav a:hover {
  text-decoration: underline;
}

.contact-section {
  max-width: 600px;
  margin: 50px auto;
  background: white;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.contact-section h1 {
  font-size: 32px;
  color: #2e7d32;
  margin-bottom: 15px;
  text-align: center;
}

.contact-section p {
  margin-bottom: 20px;
  text-align: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form input,
.contact-form textarea {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}

.contact-form button {
  background-color: #2e7d32;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.contact-form button:hover {
  background-color: #1b5e20;
}

.contact-info {
  margin-top: 30px;
  text-align: center;
  font-size: 14px;
  color: #444;
}

.back-btn {
  display: block;
  margin-top: 25px;
  text-align: center;
  color: #2e7d32;
  text-decoration: none;
  font-weight: bold;
}

.back-btn:hover {
  text-decoration: underline;
}


footer {
  background-color: #FFB823;
  color: black;
  padding: 25px 15px;
  text-align: center;
  font-size: 0.85em;
}

.footer-columns {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 20px;
}

.footer-column {
  min-width: 120px;
}

.footer-column h4 {
  margin-bottom: 8px;
  font-size: 1em;
  font-weight: bold;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-column ul li {
  margin: 4px 0;
}

.footer-column a {
  color: black;
  text-decoration: none;
  font-size: 0.85em;
}

.footer-column a:hover {
  text-decoration: none;
}

.footer-contact {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  padding-top: 15px;
  margin-bottom: 15px;       
  line-height: 2.2;          
  font-size: 0.78em;
}

.footer-contact a {
  color: black;
  text-decoration: none;
}
